<div class="pizzatitle">
    <h1>MENU PIZZA</h1>
</div>
<br>
<!-- a comment in html

<div class="row" style="padding-left: 20px;">
    
    <div class="card" style="width: 18rem;" *ngFor="let varname of pizzaMenu">
        <img class="imagepizza" [src]=varname?.image/>
        <div class="card-body">
          <h5 class="card-title">{{varname?.name}}</h5>
          <p class="card-text">{{varname?.dsecription}}</p>
          <p class="card-text">{{varname?.price}}</p>
          <a href="#" class="btn btn-primary">Agregar</a>
        </div>
    </div>

</div>

 -->

 <!-- a comment in html
<div class="row" *ngFor="let varname of pizzaMenu">
    <div class="col-sm-3"><img style="width: 80%;" [src]=varname?.image/></div>
    <div class="col-sm-3">{{varname?.name}}</div>
    <div class="col-sm-3">{{varname?.description}}</div>
    <div class="col-sm-1">{{varname?.price}}</div>
    <div class="col-sm-1"><a href="#" class="btn btn-primary" style="width: 100%;">Agregar</a></div>
  </div>
   -->

  <table class="table"  *ngFor="let varname of pizzaMenu" >
    <tbody>
      <tr [routerLink] = "['/pizza', varname.id]">
        <td  class="tdimage">
                <img class="imgcontainer" [src]=varname?.image/>
        </td>
        <td class="tdinfo">{{varname?.name}}</td>
        <td class="tdinfo">{{varname?.description}}</td>
        <td class="tdinfo">Lps. {{varname?.price}}</td>
        <td ><button type="button" class="btn btn-primary" (click) = "fnAdd(varname)" style="width: 100%;">Agregar</button></td>
      </tr>
      <tr>
    </tbody>
  </table>
