<div class="postretitle">
    <h1>MENU POSTRES</h1>
</div>
<br>

<table class="table" *ngFor="let varname of postreMenu" [routerLink] = "['/postres', varname.id]">
    <tbody>
        <tr>
            <td class="tdimage"><img class="imgcontainer" [src]=varname?.image/></td>
            <td class="tdinfo">{{varname?.name}}</td>
            <td class="tdinfo">{{varname?.description}}</td>
            <td class="tdinfo">Lps. {{varname?.price}}</td>
            <td><button type="button" class="btm btn-primary" (click) = "fnAdd(varname)" style="width: 100%;">Agregar</button></td>
        </tr>
        <tr>
    </tbody>
</table>
