<table class="table table-hover table-dark">
    <thead>
      <tr>
        <th scope="col">Album Name</th>
        <th scope="col">Artist</th>
        <th scope="col">Duration (sec)</th>
        <th scope="col">Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let itemcart of mycart" routerLink="/detalle/{{itemcart.id}}" >
        <td class="bg-info">{{itemcart.albumName}}</td>
        <td>{{itemcart.artistName}}</td>
        <td>{{getlengthAlbum(itemcart)}}</td>
        <td class="bg-info">{{itemcart.price}}</td>
        
        <table class="table table-hover table-dark">
          <thead>
            <tr>
              <th scope="col">Song name</th>
              <th scope="col">Rating</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let song of itemcart.songs" class="table-primary">
              <td class="table-success">{{song.name}}</td>
              <td class="table-info">{{song.rating}}</td>
            </tr>
          </tbody>
        </table>

      </tr>
    </tbody>
  </table>
  
